@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, #000000 0%, #353535 100%);
  width: 100%;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

#__next {
  /* This is the main container in Next.js */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* This makes the main content take up the available space */
}
