.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  padding-top: 10px;
  position: sticky;
  top: 0;
  background: rgba(41, 41, 41, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;
}
.nav :global(a) {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav :global(a:hover) {
  background-color: rgb(124, 124, 124);
}
