.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
  padding: 2rem;
  gap: 2rem;
}

.profileImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align image to the start of the cross axis */
  max-width: 50%;
  padding-top: var(--header-height); /* Offset for the header */
}

.profileImage {
  max-width: 100%; /* Ensures image is responsive and doesn't overflow its container */
  object-fit: cover; /* Ensures the image covers the area nicely */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  padding-top: var(--header-height); /* Offset for the header */
  margin-left: 10%;
  margin-top: 75px;
}

.typing {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem; /* Space after the typing effect */
}

.subheader {
  font-size: 1.5rem; /* Adjust as needed */
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease-in-out;
  transition-delay: 1s; /* Will appear after typing effect */
}

.shortAbout {
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease-in-out;
  transition-delay: 0.5s; /* Will appear after subheader */
  list-style: inside;
  padding-left: 1rem;
  text-align: left;
}

.shortAbout li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
}

.myStory {
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease-in-out;
  transition-delay: 0.5s; /* Will appear after short about text */
  margin-top: 20px; /* Space between sections */
  font-weight: bold;
}

.myStoryText {
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease-in-out;
  transition-delay: 0.5s; /* Will appear after 'myStory' */
  margin-top: 10px;
}

/* Add media query for mobile screens */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; /* Stack children vertically */
  }

  .profileImageContainer {
    order: 1;
    max-width: 100%; /* Allow image container to take full width */
    align-items: center; /* Center the image container */
  }

  .profileImage {
    max-width: 50%; /* Reduce the size of the image */
  }

  .textContent {
    order: 2;
    align-items: center; /* Center the text content */
    max-width: 100%; /* Allow text container to take full width */
    margin-left: 0; /* Remove margin-left */
    margin-top: 1rem; /* Add a little margin-top for spacing */
    padding: 0 2rem; /* Increase side padding for better readability */
  }

  .typing {
    font-size: 30px; /* Reduce the size of the typed text */
    margin-bottom: 2rem;
  }

  .shortAbout,
  .subheader,
  .myStory,
  .myStoryText {
    font-size: 1.125rem; /* Slightly larger font size for better readability */
    padding: 0 1rem; /* Consistent padding with .textContent */
    color: #ccc; /* Adjust text color if necessary */
  }
}
